<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker and Kubernettes Assignment</title>
</head>
<body style="background-color: lightslategrey;">
    <h1 style="color: white; text-align: center;font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Docker and Kubernetes Assignment</h1>
    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <img src="images/dockerImage.png" alt="Docker and Kubernetes" style="display: block; margin-left: auto; margin-right: auto; width: 50%;height: 500px;width: 500px;">
        <img src="images/dev.gif" alt="Cat working" style="display: block; margin-left: auto; margin-right: auto; width: 50%;height: 500px;width: 500px;">
        <img src="images/K8S-logo.png" alt="Kubernetes" style="display: block; margin-left: auto; margin-right: auto; width: 50%;height: 500px;width: 500px;">
    </div>
</body>
</html>